$card-color: hsl(300, 43%, 22%);
$span-color: hsl(300, 43%, 22%);
$verified-user: hsl(333, 80%, 67%);

$white: hsl(0, 0%, 100%);
$dark: hsl(303, 10%, 53%);

$raiting-section:  hsl(303, 10%, 53%);
$font-color: hsl(300, 24%, 96%);

