$card-color: hsl(300, 43%, 22%);
$second-font-color: hsl(300, 41%, 23%);
$verified-user: hsl(333, 80%, 67%);

$white: hsl(0, 0%, 100%);
$dark: hsl(303, 10%, 53%);

$raiting-section:  hsl(300, 24%, 95%);
$font-color: hsl(300, 24%, 96%);

