@import "./reset";
@import "./colors";
@import "./font";

body {
  font-family: $main-font;
  font-size: 62.5%;
  min-height: 100vh;
}

.component {
  position: relative;

  z-index: 0;

  .wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
  }
  .top-section {
    display: flex;
    .left-container {
      padding: 4em 0;

      &__header {
        color: $second-font-color;
      }
      &__info {
        font-weight: $medium-weight;
        color: $dark;
      }
    }

    .right-container {
      display: flex;

      flex-direction: column;

      .opinion-first,
      .opinion-second,
      .opinion-third {
        display: flex;
        // justify-content: end;
        align-items: center;

        padding: 0 2em;
        background-color: $raiting-section;
        // width: 400px;
        height: 55px;
        border-radius: 6px;

        &__description {
          padding: 0 2em;
          color: $second-font-color;
          font-weight: $large-weight;
          font-size: 0.9rem;
        }

        &__star {
          transform: translateX(-50%);
          padding: 0 0.3em;
          margin: 0 0.1em;
        }
      }
    }
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 600px;
    background-color: $card-color;
    border-radius: 8px;

    .card-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      .customer-image {
        margin-left: 3em;
        width: 44px;
        border-radius: 50%;
      }
    }

    .info {
      padding: 4em 1em;
      &__name,
      &__buyer {
        margin-left: 1rem;
        font-size: 0.8rem;
        font-weight: $large-weight;
        color: $white;
      }
      &__buyer {
        margin-top: 0.4em;
        color: $verified-user;
      }
    }

    &__opinion {
      color: $white;
      font-weight: $medium-weight;
      line-height: 140%;
      padding: 0 2em;
      font-size: 1.12rem;
    }
  }
}

@import "./mobile";
@import "./largemedia";
